@*@model DotNet.Highstock.Highstock*@



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src='@Url.Content("~/scripts/highstock.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/scripts/exporting.js")'></script>

    <title>Test</title>
</head>
<body>
    <div>
        <div style="margin: 50px; height: 400px">
            @ViewData["GlobalChart"]
        </div>
        <br /><br />
        <div style="margin: 50px; height: 400px">
            @ViewData["IranChart"]
        </div>
    </div>

</body>
</html>
